.table .expired{
    display: none;
}
body, h1,h2,h3{
    color: white;
}
.toast-error{
    background: #721c24;
}
.toast-success{
    background: darkgreen;
}
.toast-warning{
    background: darkorange;
}
.modal-content{
    color: black;
}
#page-top{
    background-color: #212529;
}

.card-header, .card{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
}
.table{
    color: white;
}
form{
    color: white;
}

.support-cout {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white;
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#enableWordMix:checked + .toggle:before {
    background: #1400ff;
}
#enableWordMix:checked + .toggle span {
    background: #007bff;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#enableWordMix:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}
.multiselect-container{
    width: 100%;
    transform: none !important;
    position: static !important;
}
.multiselect-container li{
    width: 200px;
    float: left;
}

#wordMixSelect .btn-group.show{
    display: block !important;
}

.multiselect.dropdown-toggle{
    color: white;
    background-color: #343a40 !important;
}

.table .payed{
    display: none;
    background: #1c7430;
}

.media.msg .media-body{
    color: white;
    width: 100%;
}

.multiselect-container>li>a>label{
    height: auto;
}
.media{
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 10px;
}

.media-heading,.media-body{
    padding: 20px;
    padding-top: 0px;
}
.media-heading{
    width: 100%;
    background: #343a40 !important;
    padding: 5px;
}

.admin-message.media .media-heading{
    float: right;
}
.media .media-owner, .media-wrapper{
        width: 100%;
}



.media.card::after {
    content: "";
    clear: both;
    display: table;
}
